{% extends 'blog/base.html' %}


{% block content %}
<header class="masthead">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-2 mt-2 text-white"> Policy </h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
        <div class="card-body">
          <h3 class="text-mute">Our Policy </h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate necessitatibus nesciunt fugit? Obcaecati animi, incidunt similique ut exercitationem optio inventore veritatis dolorum tenetur minus nulla consequuntur eos perferendis iusto. Iure!</p>
          <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt provident molestiae, quo ad possimus odit quas quia quasi aut ipsa sint ex quidem officia sed corporis quae minus labore inventore?</p>
          <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt provident molestiae, quo ad possimus odit quas quia quasi aut ipsa sint ex quidem officia sed corporis quae minus labore inventore?</p>
          <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt provident molestiae, quo ad possimus odit quas quia quasi aut ipsa sint ex quidem officia sed corporis quae minus labore inventore?</p>
          <p class="card-text ">Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo nec ultrices dui sapien eget mi proin sed libero. Eros in cursus turpis massa tincidunt dui ut. Mauris vitae ultricies leo integer malesuada nunc vel risus. Metus aliquam eleifend mi in nulla posuere. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Parturient montes nascetur ridiculus mus mauris vitae. Ornare arcu dui vivamus arcu. Gravida neque convallis a cras semper auctor neque. Vel orci porta non pulvinar neque laoreet suspendisse. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis.
            <p>
            Risus in hendrerit gravida rutrum quisque non tellus orci ac. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Volutpat est velit egestas dui id ornare arcu. Facilisis magna etiam tempor orci. Dui accumsan sit amet nulla facilisi morbi. Gravida arcu ac tortor dignissim convallis aenean et tortor. Pretium viverra suspendisse potenti nullam ac tortor vitae purus. Commodo viverra maecenas accumsan lacus vel. At ultrices mi tempus imperdiet nulla malesuada pellentesque. Mattis enim ut tellus elementum sagittis. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Faucibus scelerisque eleifend donec pretium. Magna sit amet purus gravida quis blandit turpis cursus in. Massa sed elementum tempus egestas sed sed risus. Pulvinar elementum integer enim neque. Elementum nisi quis eleifend quam adipiscing vitae proin. Pharetra massa massa ultricies mi. Nibh cras pulvinar mattis nunc.
            </p>
            Tristique nulla aliquet enim tortor. Porta lorem mollis aliquam ut porttitor. Blandit turpis cursus in hac habitasse platea. Arcu ac tortor dignissim convallis aenean et tortor. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. In hac habitasse platea dictumst vestibulum rhoncus est. In vitae turpis massa sed elementum tempus egestas sed sed. Quam quisque id diam vel quam elementum pulvinar etiam. Auctor augue mauris augue neque. Eu lobortis elementum nibh tellus molestie nunc non blandit massa. Vivamus arcu felis bibendum ut tristique. Quam lacus suspendisse faucibus interdum posuere lorem. Non pulvinar neque laoreet suspendisse interdum. Enim nulla aliquet porttitor lacus luctus. Ut sem viverra aliquet eget sit amet. Id diam vel quam elementum pulvinar. Ipsum faucibus vitae aliquet nec ullamcorper sit.
            <br>
            Vulputate mi sit amet mauris commodo quis imperdiet massa. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Urna et pharetra pharetra massa massa ultricies mi. Venenatis cras sed felis eget velit aliquet sagittis. Quis enim lobortis scelerisque fermentum dui faucibus in. Urna molestie at elementum eu facilisis. Ipsum nunc aliquet bibendum enim facilisis. Nec ullamcorper sit amet risus nullam eget felis eget. Sem et tortor consequat id porta nibh venenatis. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros in. Leo duis ut diam quam. Nulla facilisi etiam dignissim diam. Mauris cursus mattis molestie a iaculis. Id porta nibh venenatis cras sed felis eget velit. Egestas purus viverra accumsan in nisl nisi. Quis auctor elit sed vulputate mi sit. Mauris in aliquam sem fringilla ut. Lobortis feugiat vivamus at augue eget.
            <br>
            Amet nulla facilisi morbi tempus iaculis urna id volutpat. Orci nulla pellentesque dignissim enim. Eu nisl nunc mi ipsum faucibus vitae. Leo a diam sollicitudin tempor. Dui nunc mattis enim ut tellus. Duis convallis convallis tellus id. In fermentum posuere urna nec tincidunt praesent semper feugiat. In tellus integer feugiat scelerisque varius morbi enim. Libero nunc consequat interdum varius sit amet mattis vulputate. Laoreet id donec ultrices tincidunt. Nam aliquam sem et tortor consequat id porta.ipsum dolor sit amet consectetur adipisicing elit. Deserunt provident molestiae, quo ad possimus odit quas quia quasi aut ipsa sint ex quidem officia sed corporis quae minus labore inventore?</p>
        </div>
      
     
    
</div>
  
{% endblock %}