{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #46709a;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right  ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body card-end">
        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem fugiat dignissimos, similique animi, unde quos tempore deserunt officia delectus ipsa quo dolorem natus ipsum ea harum laborum alias, neque quisquam.</p>
        <a href="{% url 'blog:about' %}"class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>


{% endblock sidebar %}